/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@layer base {
  h1 {
    @apply text-4xl font-bold leading-tight text-secondary;
  }

  h2 {
    @apply text-2xl font-medium;
  }

  h3 {
    @apply text-xl font-bold;
  }

  button:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 11px;
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
    border-radius: 10px;
  }
}

@layer components {
  .inputfield {
    @apply py-1 px-2 rounded-md w-full bg-gray-100;
  }
  .textarea {
    @apply py-1 px-2 h-24 rounded-md w-full bg-gray-100;
  }
  .button {
    @apply text-secondary border rounded-md hover:bg-secondary hover:text-white border-secondary font-semibold w-full py-2 px-2 appearance-none;
  }
  .ctabutton {
    @apply ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-secondary hover:bg-blue-600;
  }
  .form {
    @apply max-w-xl bg-white rounded-md mx-auto pt-2 pb-7 px-10;
  }
  .card {
    @apply bg-white rounded-lg overflow-hidden shadow p-8 mb-12;
  }
}
